{% extends 'modalBase.html.twig' %}

{% block modal_title %}Connexion{% endblock %}

{% block modal_message_flash %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block modal_content %}
    <form action="{{ path('app_login') }}" method="post">
        <div class="form-group">
            <label for="username">Email ou Nom d'utilisateur :</label>
            <input type="text" id="username" required="required" name="_username" placeholder="Email ou Nom d'utilisateur" value="{{ last_username }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" required="required" placeholder="Mot de passe" name="_password" class="form-control">
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="text-center">
            <button type="submit" class="btn btn-success-modal">Se connecter</button>
        </div>
    </form>
{% endblock %}
