{% extends 'modalBase.html.twig' %}

{% block modal_title %}Log in!{% endblock %}

{% block modal_content %}
    {{ form_start(form) }}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <div class="remember-me-container">
        {{ form_label(form._remember_me, 'Se souvenir de moi') }}
        {{ form_widget(form._remember_me) }}
    </div>
{% endblock %}

{% block modal_footer %}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
    <a href="" class="btn btn-secondary" data-dismiss="modal">Fermer</a>
{% endblock %}