{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="container" style="justify-items: center;">

            <h2>Nouveau mot de passe</h2>

            <br><br>

            {% include 'part/addFlash.html.twig' %}

            <div class="col-md-6">
                {{ form_start(form) }}

                <div class="mb-3">
                    {{ form_label(form.password) }}
                    <div class="password-container">
                        {{ form_widget(form.password) }}
                        <button type="button" class="toggle-password" aria-label="Afficher le mot de passe">
                            <i class="fas fa-eye" style="color: #ffc107"></i>
                        </button>
                    </div>
                    {{ form_errors(form.password) }}
                </div>
                <div>
                    {{ form_label(form.confirmPassword) }}
                    <div class="password-container">
                        {{ form_widget(form.confirmPassword) }}
                        <button type="button" class="toggle-password" aria-label="Afficher le mot de passe">
                            <i class="fas fa-eye" style="color: #ffc107"></i>
                        </button>
                    </div>
                    {{ form_errors(form.confirmPassword) }}
                </div>


                <div class="mt-3">
                    <button type="submit" class="button btn-yellow">Changer le mot de passe</button>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('/js/showPassword.js') }}"></script>
{% endblock %}