{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="container" style="justify-items: center;">

            <h2>Réinitialisation du mot de passe</h2>

            <br><br>

            {% include 'part/addFlash.html.twig' %}

            <div class="col-md-6">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.mail) }}
                    {{ form_widget(form.mail) }}
                </div>

                <div class="row justify-content-md-center mt-3">
                    <a href="{{ path('app_home') }}" class="col-3 button btn-fermer">Retour à l'accueil</a>
                    <button type="submit" class="col-3 button btn-yellow">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}

