{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/checkPassword.css') }}">
{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="container" style="justify-items: center;">

            {% include 'part/addFlash.html.twig' %}

            <div class="col-md-6">
                {{ form_start(form) }}

                <div class="mb-3">
                    {{ form_label(form.password) }}
                    <div class="password-container">
                        {{ form_widget(form.password) }}
                        <button type="button" class="toggle-password" aria-label="Afficher le mot de passe">
                            <i class="fas fa-eye" style="color: #ffc107"></i>
                        </button>
                    </div>
                    {{ form_errors(form.password) }}
                    <div class="password-strength-meter" style="text-align: left">
                        <div class="strength-bar">
                            <div class="strength-progress"></div>
                        </div>
                        <div class="strength-label">Force du mot de passe: <span>Faible</span></div>
                        <div class="requirements">Exigences:</div>
                        <ul class="password-requirements">
                            <li data-requirement="length">Au moins 8 caractères</li>
                            <li data-requirement="uppercase">Au moins une majuscule</li>
                            <li data-requirement="lowercase">Au moins une minuscule</li>
                            <li data-requirement="number">Au moins un chiffre</li>
                            <li data-requirement="special">Au moins un caractère spécial (@$!%*?&)</li>
                        </ul>
                    </div>
                </div>
                <div>
                    {{ form_label(form.confirmPassword) }}
                    <div class="password-container">
                        {{ form_widget(form.confirmPassword) }}
                        <button type="button" class="toggle-password" aria-label="Afficher le mot de passe">
                            <i class="fas fa-eye" style="color: #ffc107"></i>
                        </button>
                    </div>
                    {{ form_errors(form.confirmPassword) }}
                </div>

                <div class="p-3">
                    <button type="submit" class="button btn-yellow">Changer le mot de passe</button>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('/js/showPassword.js') }}"></script>
    <script src="{{ asset('/js/passwordCheck.js') }}"></script>
{% endblock %}