{% extends 'modalBase.html.twig' %}

{% block modal_title %}
    Inscription
{% endblock %}

{% block modal_message_flash %}
    {% include 'part/addFlash.html.twig' %}
{% endblock %}

{% block modal_content %}
    <div class="form-container">
        {{ form_start(form, {'action': path('app_signup') }) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.dateNaissance) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        <div>
            {{ form_label(form.password) }}
            <div class="password-container">
                {{ form_widget(form.password) }}
                <button type="button" class="toggle-password" aria-label="Afficher le mot de passe">
                    <i class="fas fa-eye" style="color: #ffc107"></i>
                </button>
            </div>
            {{ form_errors(form.password) }}
        </div>
        <div>
            {{ form_label(form.confirmPassword) }}
            <div class="password-container">
                {{ form_widget(form.confirmPassword) }}
                <button type="button" class="toggle-password" aria-label="Afficher le mot de passe">
                    <i class="fas fa-eye" style="color: #ffc107"></i>
                </button>
            </div>
            {{ form_errors(form.confirmPassword) }}
        </div>
        <h3>Choisir une photo de profil</h3>
        <div class="profile-selection">
            {% for choice in form.defaultProfilePicture %}
                <label class="profile-choice">
                    {{ form_widget(choice) }} {# Affiche le bouton radio #}
                    <img src="{{ asset('uploads/profiles/' ~ choice.vars.value) }}" class="profile-image" alt="Avatar">
                </label>
            {% endfor %}
        </div>
        <p>Ou télécharger votre propre photo</p>
        {{ form_row(form.profilePicture) }}
        <div class="modal--actions">
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block js_modal %}
    <script src="{{ asset('/js/showPassword.js') }}"></script>
{% endblock %}