{% extends 'modalBase.html.twig' %}

{% block modal_title %}
    Inscription
{% endblock %}

{% block modal_message_flash %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block modal_content %}
    <div class="form-container">
        {{ form_start(form, {'action': path('app_signup') }) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.dateNaissance) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirmPassword) }}
        <h3>Choisir une photo de profil</h3>
        <div class="profile-selection">
            {% for choice in form.defaultProfilePicture %}
                <label class="profile-choice">
                    {{ form_widget(choice) }} {# Affiche le bouton radio #}
                    <img src="{{ asset('uploads/profiles/' ~ choice.vars.value) }}" class="profile-image" alt="Avatar">
                </label>
            {% endfor %}
        </div>
        <p>Ou télécharger votre propre photo</p>
        {{ form_row(form.profilePicture) }}
        <div class="modal--actions">
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
