{% extends 'modalBase.html.twig' %}

{% block modal_title %}
    Inscription
{% endblock %}

{% block modal_message_flash %}
    {% for label, messages in app.flashes(['success', 'error']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block modal_content %}
    {{ form_start(form) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.dateNaissance) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.confirmPassword) }}
    <div style="display: flex; justify-content: center;">
        {{ form_label(form.submit) }}
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

