<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/modal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('/img/logo-sans-font.png') }}">
    <title>CESIZen - Accueil</title>
</head>
<body>
<header>
    {% block header %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <img style="background-color: white;" src="{{ asset('img/logo-sans-font.png') }}" alt="Logo CESIZen">
            <h1>Bienvenue {{ app.user.username }}</h1>
            <div class="header-buttons">
                <a href="{{ path('app_logout') }}" class="button">Se déconnecter</a>
            </div>
        {% else %}
        <img style="background-color: white;" src="{{ asset('img/logo-sans-font.png') }}" alt="Logo CESIZen">
        <h1>Bienvenue sur CESIZen</h1>
        <div class="header-buttons">
            <a href="{{ path('app_signup') }}" class="button open-modal">S'inscrire</a>
            <a href="{{ path('app_login') }}" class="button open-modal">Se connecter</a>
        </div>
        {% endif %}
    {% endblock %}
</header>
<main class="main-content">
    {% block body %}
        <h2>Votre bien-être, notre priorité</h2>
        <p style="padding-left: 150px; padding-right: 150px;">
            Découvrez des outils simples et efficaces pour mieux gérer votre stress et prendre soin de votre santé mentale. Suivez vos émotions, pratiquez des exercices de respiration et explorez des activités détente pour un quotidien équilibré.
        </p>
        <div class="buttons">
            <a href="#" class="button">Commencer</a>
            <a href="#" class="button">En savoir plus</a>
        </div>
        <img style="width: 250px; height: auto;" src="{{ asset('img/logo-sans-font.png') }}" alt="Image illustrative">
    {% endblock %}
</main>
<footer>
    {% block footer %}
        <p>© 2025 CESIZen. Jade POULET.</p>
        <p><a href="#" style="color: var(--accent-color); text-decoration: none;">Mentions légales</a> | <a href="#" style="color: var(--accent-color); text-decoration: none;">Politique de confidentialité</a></p>
    {% endblock %}
</footer>

{% include 'modalBase.html.twig' %}

<script src="{{ asset('/js/main.js') }}"></script>
</body>
</html>