{% extends 'modalBase.html.twig' %}

{% block modal_title %}Diagnostique{% endblock %}

{% block modal_message_flash %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block modal_content %}
    <div class="form-container">
        {%  if app.user is not null %}
            {{ form_start(form, {
                'action': action,
                'attr': {
                    'data-redirect': path('app_diagnostic_dashboard')
                }
            }) }}
        {% else %}
            {{ form_start(form, {'action': path('app_diagnostic_new')}) }}
        {%  endif %}

        {{ form_label(form.events) }}
        {% for child in form.events %}
            <div class="checkbox-container">
                {{ form_label(child) }}
                {{ form_widget(child) }}
                {{ form_errors(child) }}
            </div>
        {% endfor %}
        <div style="display: flex; justify-content: center;">
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}